In [1]:
# import libraries
import requests
import time
import pandas as pd

In [2]:
# Assign URL for Apple subreddit
url = 'https://www.reddit.com/r/apple/new.json'

# Assign user-agent
headers = {'User-agent': 'meehhh'}

titles = []
after = None # a query parameter in the URL, a key to scrape consecutively

# to scrape 30 times
for _ in range(30):
    if after == None:
        params = {}
    else:
        params = {'after': after}
    res = requests.get(url, params=params, headers=headers)
    if res.status_code == 200: # if successful
        data = res.json()
        for row in data['data']['children']:
            titles.append(row['data']['title']) # to scrape only the title
        after = data['data']['after'] # update query parameter
    else: 
        print(res.status_code)
        break
    time.sleep(2)

In [3]:
Apple_post = pd.DataFrame(titles)
Apple_post.head()

                                                   0
0  Epic Games takes on Apple and Google in Austra...
1  Java users on macOS 14 running on Apple silico...
2  Apple With No AI Looks More Like Coca-Cola Tha...
3               Daily Advice Thread - March 16, 2024
4  Apple opposes ex-ante regulations, similar to ...

In [4]:
Apple_post.shape

(750, 1)

In [5]:
Apple_post = Apple_post.drop_duplicates()
Apple_post.shape

(748, 1)

In [6]:
Apple_post.to_csv('./data/Apple.csv') # save for archive

In [7]:
# Assign URL for Android subreddit
url2 = 'https://www.reddit.com/r/Android/new.json'

# Assign different data storage for different set of data
# for loop is the same

titles2 = []
after2 = None

for _ in range(23):
    if after2 == None:
        params = {}
    else:
        params = {'after': after2}
    res = requests.get(url2, params=params, headers=headers)
    if res.status_code == 200:
        data = res.json()
        for row in data['data']['children']:
            titles2.append(row['data']['title'])
        after2 = data['data']['after']
    else: 
        print(res.status_code)
        break
    time.sleep(2)

In [8]:
Android_post = pd.DataFrame(titles2)
Android_post.head()

                                                   0
0     HDR is BROKEN on the Samsung Galaxy S24 Ultra!
1  Why LG and Sony failed to be able to compete w...
2  Sony Xperia 1 VI might give up on the 4K displ...
3  After Recent Update, Google Removed All Option...
4  Google Wallet is rolling out support for impor...

In [9]:
Android_post.shape

(560, 1)

In [10]:
Android_post = Android_post.drop_duplicates()
Android_post.shape

(485, 1)

In [11]:
Android_post.to_csv('./data/Android.csv') # save for archive

In [12]:
Apple_post['label'] = 'Apple'

In [13]:
Android_post['label'] = 'Android'

In [14]:
Alltitles = pd.concat([Apple_post, Android_post])
Alltitles.reset_index(drop=True)
Alltitles.head()

                                                   0  label
0  Epic Games takes on Apple and Google in Austra...  Apple
1  Java users on macOS 14 running on Apple silico...  Apple
2  Apple With No AI Looks More Like Coca-Cola Tha...  Apple
3               Daily Advice Thread - March 16, 2024  Apple
4  Apple opposes ex-ante regulations, similar to ...  Apple

In [15]:
Alltitles['label'].value_counts() # check and make sure all data are in with no duplication

Apple      748
Android    485
Name: label, dtype: int64

In [16]:
Alltitles.rename(columns={0:'title'}, inplace=True)
Alltitles.head()

                                               title  label
0  Epic Games takes on Apple and Google in Austra...  Apple
1  Java users on macOS 14 running on Apple silico...  Apple
2  Apple With No AI Looks More Like Coca-Cola Tha...  Apple
3               Daily Advice Thread - March 16, 2024  Apple
4  Apple opposes ex-ante regulations, similar to ...  Apple

In [18]:
Alltitles.to_csv('./data/Alltitles.csv') # export for archive and manipulation later